<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sean Sonderegger">
    <meta name="description" content="Music Player Application utilizing JavaScript and Node. Allows users to create and manage playlists of their favorite songs.">
    <title>CSE310MusicPlayer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/styles/musicPlayer.css">
</head>
<body>
    <!-- container card for songs -->
<div class="addSongDiv">
    <h1>Add a Song</h1>
    <!-- form to add song details -->
    <form action="/player" method="POST">
    <label>
    Song Title:
    <input type="text" name="title" required />
    </label><br /><br />
    <!-- artist inout -->
    <label>
    Artist:
    <input type="text" name="artist" required />
    </label><br /><br />
    <label>
    Genre:
    <select name="genre">
    <option>Gospel</option>
    <option>Rock</option>
    <option>Classical</option>
    <option>Jazz</option>
    <option>Hip-Hop</option>
    
    </select>
    </label><br /><br />
    <!-- submit button -->
    <button type="submit" class="buttonLink">Add Song</button>
    </form>
    <!-- navigation to playlist-->
    <a href="/playlist" class="secondaryLink">View Playlist</a>
</div>
</body>
</html>