<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sean Sonderegger">
    <meta name="description" content="Music Player Application utilizing JavaScript and Node. Allows users to create and manage playlists of their favorite songs.">
    <title>CSE310MusicPlayer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="styles/musicPlayer.css">
</head>
<body>

<h1>Playlist</h1>

<div id="playlist"></div>

<script>
  const playlist = JSON.parse(localStorage.getItem("playlist")) || [];
  const container = document.getElementById("playlist");

  if (playlist.length === 0) {
    container.innerHTML = "<p>No songs in playlist.</p>";
  } else {
    playlist.forEach(song => {
      const songHTML = `
        <h3>${song.title}</h3>
        <p>${song.artist} (${song.genre})</p>
        <iframe
          width="300"
          height="170"
          src="https://www.youtube.com/embed/${song.videoId}"
          allowfullscreen>
        </iframe>
        <hr />
      `;
      container.insertAdjacentHTML("beforeend", songHTML);
    });
  }
</script>


<a href="/">Add More Songs</a>

</body>
</html>