<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sean Sonderegger">
    <meta name="description" content="Music Player Application utilizing JavaScript and Node. Allows users to create and manage playlists of their favorite songs.">
    <title>CSE310MusicPlayer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="styles/musicPlayer.css">
</head>
<body>
<h1>Playlist</h1>


<% if (playlist.length === 0) { %>
<p>No songs in playlist.</p>
<% } else { %>
<ul>
<% playlist.forEach(song => { %>
<li>
<strong><%= song.title %></strong> by <%= song.artist %> (<%= song.genre %>)
</li>
<% }) %>
</ul>
<% } %>


<a href="/">Add More Songs</a>
</body>
</html>